doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Document
        link(rel='stylesheet', href='style/layout.css')
    body
        .header
            .header-top
                h1 学生成绩管理系统
            .header-center
                .formbox
                    form(action='/layout',method="post")
                        h2 账户登录
                        input.txt1(type='text', name='email', placeholder='邮箱')

                        h6
                        input.txt2(type='text', name='password', placeholder='密码')
                        button.btn 登陆
                        br
                        br
                        span #{hinfo}
        script(src="script/jquery.js")
        script(src="script/layout.js")