extends login
block content
    link(rel='stylesheet', href='style/bootstrap.min.css')
    link(rel='stylesheet', href='style/students.css')
    button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal',id="b")
        | 添加
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title 添加数据
                .modal-body
                    form.myform
                        .form-group
                            label 邮箱
                            input.texts(type='email', placeholder='邮箱', name='email')
                            span.sp
                        .form-group
                            label 姓名
                            input(type='text', placeholder='用户名', name='username')
                        .form-group
                            label 密码
                            input(type='text', placeholder='密码', name='password')
                        button 提交
    // 摸态框结束
    table.tab.table.table-hover
        thead
            th 邮箱
            th 用户名
            th 密码
            th 删除
        tbody
    script(src='script/jquery.js')
    script(src='script/bootstrap.min.js')
    script(src='script/users.js')